{% extends 'admin/main.html' %}

{% block content %}
<div class="w600 pane">
    <form action='.' method='post' class="uniForm settingsForm">
        {% csrf_token %}
        {% include "admin/includes/forms/non_field_errors.html" %}
        <fieldset class="blockLabels extralong">
            {% for field in form %}
            {% include "admin/includes/forms/field.html" %}
            {% endfor %}
            {% include "admin/includes/forms/buttons.html" %}
        </fieldset>
    </form>
</div>
{% endblock %}