/* COMMON ELEMENTS */
h1,h2,h3,h4,.serif{font-family :"Georgia", "Times New Roman", serif;}
.left{float:left;}
.right{float:right;}
.center{text-align:center;}
.clear{clear:both;}
.big{font-size:22px;}
.small{font-size:11px;}
.btn{padding:2px;border:1px solid #777;}
.msg{font-size:11px;border:1px solid #E5E5E5;padding:6px 8px;background-color:#fefddc;}
.msg.error {background-color:#FBB;}
.positive{color:green;}
.neutral{color:blue;}
.negative{color:red;}
.disabled{color:#BBB;}
.display-none{display:none;}

/* GLOBAL */
html {
    background-color: #F5F5F5;
    color: #222;
    min-height: 100%;
    min-width: 800px;
}
body {
    font-family :"Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}

h1 {
    border-bottom: 1px solid #AAA;
    margin-top: 0;
    font-size: 22px;
    line-height: 22px;
}

a {
    color: #6e8d61;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    margin-bottom: 4px;
}

li.milked {
    background-color: #F7F7F7;
}

button:hover {
    cursor: pointer;
}

/* FORMS */
fieldset.long input {
    width: 240px;
    min-width: 240px;
}

fieldset.extralong input {
    width: 294px;
    min-width: 294px;
}
    
input.merge {
    border: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    font: inherit;
    color: inherit;
}

input.merge.disabled {
    color: #BBB;
}

textarea#code_editor {
    font-family: monospace;
}

/* PRESET CONTAINER WIDTHS */
.w400 {
    width: 400px;
    margin-right: 20px;
}
.w600 {
    width: 600px;
    margin-right: 20px;
}

/* ICONS */
.icon, .iconSpacer {
    width: 20px;
    line-height: 16px;
    padding: 2px 10px 2px 10px;
    background: no-repeat 2px 2px;
}

.icon:hover {
    background-color: #F5F5F5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

button .icon:hover,
.msg .icon:hover {
    background-color: transparent;
    cursor: pointer;
}

a.icon:hover {
    text-decoration: none;
}

.iconText {
    font-size: 11px;
    color: #444;
    padding: 0 2px;
    line-height: 14px;
}

.icon.commit {
    background-image: url('../img/icon_commit.png');
}

.icon.revert {
    background-image: url('../img/icon_revert.png');
}

.icon.up {
    background-image: url('../img/icon_arrow_up.png');
}

.icon.down {
    background-image: url('../img/icon_arrow_down.png');
}

.icon.visible,
.icon.hidden:hover {
    background-image: url('../img/icon_visible.png');
}

.icon.hidden {
    background-image: url('../img/icon_hidden.png');
}

.icon.widgetAdd {
    background-image: url('../img/icon_widget_add.png');
}

.icon.widgetEdit {
    background-image: url('../img/icon_widget_edit.png');
}

.icon.widgetDelete {
    background-image: url('../img/icon_widget_delete.png');
}

.icon.groupAdd {
    background-image: url('../img/icon_group_add.png');
}

.icon.groupDelete {
    background-image: url('../img/icon_group_delete.png');
}

.icon.groupMove {
    background-image: url('../img/icon_group_move.png');
}

/* PANES */

.pane {
    border: 1px solid #E5E5E5;
    background-color: #FFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: #E5E5E5 0px 4px 18px;
    padding: 4px 8px;
    margin-bottom: 12px;
}

.paneHeader {
    background-color: #DDD;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-box-shadow: #E5E5E5 0px 4px;
    padding: 4px 6px 4px 7px;
}

    .paneHeader h1,
    .paneHeader h2,
    .paneHeader h3, 
    .paneHeader h4 {
        margin: 0;
    }

.paneBody {
    border-left: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    background-color: #FFF;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-box-shadow: #E5E5E5 0px 4px 18px;
    padding: 4px 8px;
    margin-bottom: 12px;
}

/* PAGE SECTIONS */
#header {
    padding: 5px 15px 7px;
    background-color: #444;
    color: #AAA;
    margin-bottom: 15px;
    -webkit-box-shadow: #777 0px 0px 15px;
}

    #header a {
        color: #CCC;
        text-decoration: none;
    }
    
    #header a:hover {
        color: #FFF;
    }
    
    #header #sitetitle .title {
        color: #FFF;
        line-height: 30px;
        margin-right: 10px;
        background: url("../img/logo_32x32.png") no-repeat 0 -3px;
        padding-left: 40px;
    }
        
        #header #sitetitle a:hover .title {
            text-decoration: underline;
        }
    
    #header #userinfo {
        line-height: 30px;
        font-size: 12px;
    }
    
        #header #userinfo a:hover {
            text-decoration: underline;
        }

/* PAGE LAYOUT */
#main {
    margin: 0 15px 0 0;
    min-width: 320px;
    padding-left: 160px;
}

.main {
    float: left;
    position: relative;
    width: 100%;
}

.sidebar {
    width: 160px;
    float: left;
    position: relative;
    right: 160px;
    margin-left: -100%;
}

* html .sidebar {
    left: 0;
}

/* MENU */

#menu {
    color: #FFF;
    margin: 0 15px 15px 15px;
}

    #menu ul,
    #menu li,
    #menu dl,
    #menu dt,
    #menu dd {
        margin: 0;
        padding: 0;
        list-style-type:none;
    }

    #menu #root,
    #menu dt {
        font-family :"Georgia", "Times New Roman", serif;
        background-color: #777;
        padding: 3px 0;
        margin-top: 10px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -webkit-box-shadow: #E5E5E5 0px 4px 8px;
    }
    
    #menu #root {
        margin: 0;
    }
    
    #menu #root:hover,
    #menu dt:hover {
        background-color: #7C7C7C;
    }

    #menu #root,
    #menu dt.closed {
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
    }
    
        #menu dt span.toggle {
            display: none;
            padding: 7px 8px 5px;
            margin-top: -3px;
            -moz-border-radius-topright: 5px;
            -webkit-border-top-right-radius: 5px;
            border-left: 1px solid #606060;
            cursor: pointer;
            background-color: #6a6a6a;
            position: absolute;
            right: 15px;
        }
        
        #menu dt.closed span.toggle {
            visibility: hidden;
        }
        
        #menu dt.closed:hover span.toggle {
            visibility: visible;
            -moz-border-radius-bottomright: 5px;
            -webkit-border-bottom-right-radius: 5px;
        }

    #menu dd {
        font-size: 11px;
        background-color: #FFF;
        border-left: 1px solid #BBB;
        border-right: 1px solid #BBB;
        border-bottom: 1px solid #BBB;
        -webkit-box-shadow: #E5E5E5 0px 4px 8px;
    }

    #menu a {
        line-height: 23px;
        text-decoration: none;
        display: inline-block;
    }

    #menu a:hover {
        text-decoration: none;
    }

    #menu #root a,
    #menu dt a {
        padding-left: 35px;
        color: #F5F5F5;
        width: 95px;
    }
    
    #menu #root a#menu_dashboard,
    #menu dt a {
        background: no-repeat 7px 1px;
    }
    
    #menu #root a#menu_dashboard {
        background-image: url("../img/icon_menu_dashboard.png");
    }
    
    #menu dt a#menu_content {
        background-image: url("../img/icon_menu_content.png");
    }
    
    #menu dt a#menu_design {
        background-image: url("../img/icon_menu_design.png");
    }
    
    #menu dt a#menu_settings {
        background-image: url("../img/icon_menu_settings.png");
    }

    #menu dd a {
        padding-left: 34px;
        color: #444;
    	width: 95px;
    	line-height: 24px;
    }
    
    #menu dd a#menu_content_posts,
    #menu dd a#menu_content_pages,
    #menu dd a#menu_content_comments,
    #menu dd a#menu_content_media,
    #menu dd a#menu_design_widgets,
    #menu dd a#menu_design_blueprints,
    #menu dd a#menu_design_themes,
    #menu dd a#menu_settings_general,
    #menu dd a#menu_settings_widgets {
        background: no-repeat 10px 4px;
    }
    
    #menu dd a#menu_content_posts {
        background-image: url("../img/icon_post.png");
    }
    
    #menu dd a#menu_content_pages {
        background-image: url("../img/icon_page.png");
    }
    
    #menu dd a#menu_content_comments {
        background-image: url("../img/icon_comment.png");
    }
    
    #menu dd a#menu_content_media {
        background-image: url("../img/icon_media.png");
    }
     
    #menu dd a#menu_design_widgets {
        background-image: url("../img/icon_widget.png");
    }
    
    #menu dd a#menu_design_blueprints {
        background-image: url("../img/icon_blueprint.png");
    }
    
    #menu dd a#menu_design_themes {
        background-image: url("../img/icon_theme.png");
    }
    
    #menu dd a#menu_settings_general {
        background-image: url("../img/icon_setting.png");
    }
    
    #menu dd a#menu_settings_widgets {
        background-image: url("../img/icon_widget.png");
    }
    
    #menu dd ul li:hover {
        background-color: #cbdabf;
    }
    
    #menu dd ul li.current {
        background: #cbdabf url('../img/icon_menu_current.png') no-repeat 0 5px;
    }
    
        #menu dd ul li:hover a,
        #menu dd ul li.current a {
            color: #000;
        }
        
        #menu dd ul li.current a {
            font-weight: bold;
        }
        
#footer {
    border-top: 1px solid #AAA;
    color: #AAA;
    margin: 0 15px;
    padding-top: 5px;
    font-size: 10px;
}
    
/* INSTALLATION-SPECIFIC */
.installation {
    margin: 15px auto 0;
    width: 520px;
}
/* LOGIN-SPECIFIC */
.login {
    margin: 95px auto 0;
    padding-top: 70px;
    width: 296px;
    background: url("../img/logo_280x60.png") no-repeat 10px 0;


}

.loginForm {
    -webkit-box-shadow: #E5E5E5 0px 4px 18px;
    background: white;
    border: 1px solid #E5E5E5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 8px;
}
    
    .loginForm .ctrlHolder {
        border: 0 none;
    }

        .loginForm .ctrlHolder label {
            color: #777;
        }
        
        .loginForm .ctrlHolder input {
            font-size: 24px;
            padding: 3px 2px;
            width: 256px;
        }
        
    .loginForm .buttonHolder {
        padding: 4px 4px 2px 0;
    }

/* WIDGET MANAGER */

.blueprints .pane {
    padding:  4px 0;
}

.groups_and_widgets .paneHeader form {
    padding:  0 0 0 3px;
}

.groups_and_widgets .paneBody {
    padding:  0 0 4px 0;
}

ul.widget_list,
ul.blueprints_list {
    margin: 0;
    position: relative;
}

ul.widget_list li.widget_list_item,
ul.blueprints_list li.blueprints_list_item {
    list-style: none outside none;
    clear: both;
    display: inline-block;
    width: 391px;
    padding: 4px 6px 4px 6px;
    margin: 0;
    cursor: default;
}

ul.widget_list li.widget_list_item {
    padding: 4px 1px 4px 6px;
}

ul.blueprints_list li.blueprints_list_item {
    width: 586px;
}

ul.widget_list li.widget_list_item:hover,
ul.blueprints_list li.blueprints_list_item:hover {
    background-color: #CBDABF;
}

ul.blueprints_list li.blueprints_list_item span.create {
    margin: 1px 0 0 0
}

ul.blueprints_list li.blueprints_list_item p.description {
    margin: 4px 0 0 12px;
}

ul.widget_list li.widget_list_item .widget_name {
    margin-left: 4px;
}

ul.widget_list li.widget_list_item .group_list {
    position: relative;
}

ul.widget_list li.widget_list_item .group_list ul {
    margin: 0;
    max-height: 0;
    width: 99px;
    min-width: 99px;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    background-color: #FFF;
}

ul.widget_list li.widget_list_item .group_list:hover ul {
    overflow: visible;
    border: 1px solid #E5E5E5;
    max-height: 1000px;
    z-index: 100;
    margin-top: 18px;
    padding: 3px 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: #E5E5E5 0px 3px 18px;
}

ul.widget_list li.widget_list_item .group_list ul li {
    list-style: none outside none;
    margin: 0;
}

ul.widget_list li.widget_list_item .group_list ul li a {
    width: 85px;
    color: #222;
    padding: 4px 7px;
    display: inline-block;
}

ul.widget_list li.widget_list_item .group_list ul li a:hover {
    text-decoration: none;
    background-color: #CBDABF;
}

ul.widget_list li.widget_list_item .group_list ul li.ungrouped a {
    color: #BBB;
}

ul.widget_list li.widget_list_item .group_list ul li.list_bottom {
    height: 0;
    padding: 0;
}