/* COMMON ELEMENTS */
h1,h2,h3,h4,.serif{font-family :"Georgia", "Times New Roman", serif;}
.left{float:left;}
.right{float:right;}
.center{text-align:center;}
.clear{clear:both;}
.big{font-size:22px;}
.small{font-size:11px;}
.btn{padding:2px;border:1px solid #777;}
.msg{font-size:11px;border:1px solid #E5E5E5;padding:6px 8px;background-color:#FFB;}
.msg.error {background-color:#FBB;}
.msg.success {background-color:#BFB;}
/* GLOBAL */
html {
    background-color: #F5F5F5;
    min-height: 100%;
}
body {
    font-family :"Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}

a {
    color: #55A;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button:hover {
    cursor: pointer;
}

/* PAGE SECTIONS */
#header {
    padding: 7px 15px 9px;
    background-color: #444;
    color: #AAA;
}

    #header a {
        color: #CCC;
        text-decoration: none;
    }
    
    #header a:hover {
        color: #FFF;
    }
    
    #header #sitetitle .title {
        color: #FFF;
        line-height: 30px;
        margin-right: 10px;
        background-image: url("../img/logo_32x32.png");
        background-repeat: no-repeat;
        background-position: 0 -2px;
        padding-left: 40px;
    }
        
        #header #sitetitle a:hover .title {
            text-decoration: underline;
        }
    
    #header #userinfo {
        line-height: 30px;
    }
    
        #header #userinfo a:hover {
            text-decoration: underline;
        }

#menu {
    color: #FFF;
    margin: 10px;
    font-size: 11px;
}
    
    #menu ul,
    #menu li {
        margin: 0;
        padding: 0;
        list-style-type:none;
    } 
    
    #menu ul li {
        background-color: #555;
        line-height: 23px;
        margin-bottom: 4px;
    }
    
    #menu ul li ul li {
        background-color: #FFF;
        border-left: 1px solid #555;
        border-right: 1px solid #555;
        border-bottom: 1px solid #555;
        margin-bottom: 0;
    }
    
    #menu ul li ul li:hover {
        background: #B5B5B5;
    }
    
    #menu a {
        width: 178px;
        min-width: 178px;
        padding: 4px 8px;
        text-decoration: none;
    }
    
    #menu a:hover {
        text-decoration: none;
    }
    
    #menu ul li a {
        color: #E5E5E5;
    }
    
    #menu ul li ul li a {
        color: #555;
    }

.paneHeader,
.paneBody {
    padding: 8px;
}
    
.paneHeader {
    background-color: #BBB;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

    .paneHeader h1,
    .paneHeader h2,
    .paneHeader h3, 
    .paneHeader h4 {
        margin: 0;
    }

.paneBody {
    border: 1px solid #BBB;
    background-color: #FFF;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
    
/* INSTALLATION-SPECIFIC */
.installation {
    margin: 20px auto 0;
    width: 520px;
}

    .installation fieldset.long input {
        width: 240px;
        min-width: 240px;
    }

/* LOGIN-SPECIFIC */
.login {
    margin: 100px auto 0;
    padding-top: 70px;
    width: 296px;
    background-image: url("../img/logo_280x60.png");
    background-repeat: no-repeat;
    background-position: 10px 0;
}

.loginForm {
    -webkit-box-shadow: #E5E5E5 0px 4px 18px;
    background: white;
    border: 1px solid #E5E5E5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 8px;
}
    
    .loginForm .ctrlHolder {
        border: 0 none;
    }

        .loginForm .ctrlHolder label {
            color: #777;
        }
        
        .loginForm .ctrlHolder input {
            font-size: 24px;
            padding: 3px 2px;
            width: 256px;
        }
        
    .loginForm .buttonHolder {
        padding: 4px 4px 2px 0;
    }