/* FLOATS */
.left{float:left;}
.right{float:right;}
.center{text-align:center;}
.clear{clear:both;}
/* CONTAINER */
.container{margin:0 auto;width:1000px;}

#header {padding: 10px;background-color:#EEE;}