{% extends 'admin/main.html' %}

{% block content %}
<p>Use this page to manage your blog widgets.</p>
<h2>Build a Widget</h2>
<div class="form400">
    <form action='{% url admin_widgets_build %}' method='post' class="uniForm">
        <fieldset class="blockLabels">
            <div class="ctrlHolder">
                {{ form.blueprint_name.label_tag }}{{ form.blueprint_name }}<p class="formHint">{{ form.blueprint_name.help_text }}</p>
            </div>
        </fieldset> 
        <div class="buttonHolder">
            <button type="submit" class="primaryAction">Build</button>
        </div>
    </form>
</div>
    <h2>Installed Widgets</h2>
    <h3>Ungrouped</h3>
    {% if ungrouped_widgets %}
    <ul class="widget_list">
        {% for widget in ungrouped_widgets %}
        {% include "admin/widgets/container_list_item.html" %}
        {% endfor %}
    </ul>
    {% else %}
    <p>Empty</p>
    {% endif %}
    {% for container in containers %}
    <h3>{{ container.name }}</h3>
    {% if container.get_widgets %}
    <ul class="widget_list">
        {% for widget in container.get_widgets %}
        {% include "admin/widgets/container_list_item.html" %}   
        {% endfor %}
    </ul>
    {% else %}
    <p>Empty</p>
    {% endif %}    
    {% endfor %}
{% endblock %}