<div class="paneHeader" id="ungrouped_header">
    <strong>Ungrouped</strong>
</div>
<div class="paneBody" id="ungrouped_body">
    {% if ungrouped_widgets %}
    <ul class="widget_list">
        {% for widget in ungrouped_widgets %}
        {% include "admin/widgets/includes/group_list_item.html" %}
        {% endfor %}
    </ul>
    {% endif %}
</div>   
{% for group in groups %}
{% include 'admin/widgets/includes/group_header.html' %}
<div class="paneBody group_body">
    {% if group.widgets %}
    <ul class="widget_list">
        {% for widget in group.widgets %}
        {% include "admin/widgets/includes/group_list_item.html" %}   
        {% endfor %}
    </ul>
    {% endif %}    
</div>
{% endfor %}