<div id="menu">
    <div id="root">
        <a id="menu_hub" href="{% url admin %}">The Hub</a>
    </div>
    <dl>
        <dt>
            <a id="menu_content" href="{% url articles_admin_articles_manage %}">Content</a>
            <span class="toggle">&nbsp;</span>
        </dt>
        <dd>
            <ul>
                <li class="{% if menu_current == 'content_articles' %}current{% endif %}"><a id="menu_content_articles" href="{% url articles_admin_articles_manage %}">Articles</a></li>
                <li class="{% if menu_current == 'content_pages' %}current{% endif %}"><a id="menu_content_pages" href="#">Pages</a></li>
                <li class="{% if menu_current == 'content_comments' %}current{% endif %}"><a id="menu_content_comments" href="#">Comments</a></li>
                <li class="{% if menu_current == 'content_media' %}current{% endif %}"><a id="menu_content_media" href="{% url fb_browse %}">Media</a></li>
            </ul>
        </dd>
        <dt>
            <a id="menu_design" href="{% url scraps_admin_manage %}">Design</a>
            <span class="toggle">&nbsp;</span>
        </dt>
        <dd>
            <ul>
                <li class="{% if menu_current == 'design_scraps' %}current{% endif %}"><a id="menu_design_scraps" href="{% url scraps_admin_manage %}">Scraps</a></li>
                <li class="{% if menu_current == 'design_blueprints' %}current{% endif %}"><a id="menu_design_blueprints" href="{% url scraps_admin_blueprints %}">Blueprints</a></li>
                <li class="{% if menu_current == 'design_themes' %}current{% endif %}"><a id="menu_design_themes" href="#">Themes</a></li>
            </ul>
        </dd>
        <dt>
            <a id="menu_settings" href="{% url config_admin_general %}">Settings</a>
            <span class="toggle">&nbsp;</span>
        </dt>
        <dd>
            <ul>
                <li class="{% if menu_current == 'settings_general' %}current{% endif %}"><a id="menu_settings_general" href="{% url config_admin_general %}">General</a></li>
                    <li class="{% if menu_current == 'settings_scraps' %}current{% endif %}"><a id="menu_settings_scraps" href="{% url config_admin_scraps %}">Scraps</a></li>
            </ul>
        </dd>
    </dl>
</div>