<div class="article_list_item_top">
    {% if article.is_published %}
    <span class="left">{{ article|truncatewords:14 }}</span>
    {% else %}
    <span class="left"><span class="disabled">[DRAFT]</span> {{ article|truncatewords:11 }}</span>
    {% endif %}
    <span class="right">
        <a class="icon articleEdit" title="edit article" href="{% url articles_admin_article_edit article_id=article.id %}">&nbsp;</a>
        <a class="icon articleDelete" title="delete article" href="{% url articles_admin_article_delete article_id=article.id %}">&nbsp;</a>
    </span>
    <div class="clear"></div>
</div>
{% if article == quick_edit_article %}
<div class="articleEditForm pane">
    <form action="{% url articles_admin_article_quickedit article_id=article.id %}" method="post" class="uniForm">
        {% csrf_token %}
        {% with quick_edit_article_form as form %}
        {% include "admin/includes/forms/non_field_errors.html" %}
        {% endwith %}
        <fieldset class="blockLabels long">
            {% for field in quick_edit_article_form %}
            {% include "admin/includes/forms/field.html" %}
            {% endfor %}
            <div class="buttonHolder">
                <a class="button" href="{% url articles_admin_articles_manage %}">Cancel&nbsp;<span class="icon revert"></span></a>
                <button type="submit" class="primaryAction">Save Changes&nbsp;<span class="icon commit"></span></button>
            </div>
        </fieldset>
    </form>
</div>
{% else %}
<div class="article_list_item_bottom">
    <span class="left small"><strong>Created:</strong> {{ article.created|date:"d/m/Y" }} | <strong>Permalink:</strong> <a href="{{ article.get_absolute_url }}">{{ article.get_absolute_url }}</a></span>
    <span class="right small">
        {# <a target="_blank" href="{% url articles_public_article_detail_id article_id=article.id %}" class="positive">{% if not article.is_published %}pre{% endif %}view</a> | #} 
        <a href="{% url articles_admin_article_quickedit article_id=article.id %}" class="neutral">quick edit</a>
    </span>
    <div class="clear"></div>
</div>
{% endif %}