<div class="article_list_item_top">
    <span class="left
    {% if not article.is_published %} faded{% endif %}">{{ article|truncatewords:12 }}</span>
    <span class="right">
        <a class="icon articleEdit" title="edit article" href="{% if is_page %}{% url articles_admin_page_edit article_id=article.id %}{% else %}{% url articles_admin_article_edit article_id=article.id %}{% endif %}">&nbsp;</a>
        <a class="icon articleDelete" title="delete article" href="{% if is_page %}{% url articles_admin_page_delete article_id=article.id %}{% else %}{% url articles_admin_article_delete article_id=article.id %}{% endif %}">&nbsp;</a>
    </span>
    <div class="clear"></div>
</div>
{% if article == quick_edit_article %}
<div class="articleEditForm pane">
    <form action="{% if is_page %}{% url articles_admin_page_quickedit article_id=article.id %}{% else %}{% url articles_admin_article_quickedit article_id=article.id %}{% endif %}" method="post" class="uniForm">
        {% csrf_token %}
        {% with quick_edit_article_form as form %}
        {% include "admin/includes/forms/non_field_errors.html" %}
        {% endwith %}
        <fieldset class="blockLabels long">
            {% for field in quick_edit_article_form %}
            {% include "admin/includes/forms/field.html" %}
            {% endfor %}
            {% if is_page %}
            {% url articles_admin_pages_manage as cancel_url %}
            {% else %}
            {% url articles_admin_articles_manage as cancel_url %}
            {% endif %}
            {% include "admin/includes/forms/buttons_cancel_save.html" %}
        </fieldset>
    </form>
</div>
{% else %}
<div class="article_list_item_bottom">
    <span class="left small faded">
        <a href="{{ article.get_absolute_url }}" title="{{ article.get_absolute_url }}">Permalink</a> | <strong>Created:</strong> {{ article.created|date:"d/m/Y" }}, {{ article.created|time:"H:i" }} | <strong>Updated:</strong> {{ article.updated|date:"d/m/Y" }}, {{ article.updated|time:"H:i" }}</span>
    <span class="right small">
        {# <a target="_blank" href="{% url articles_public_article_detail_id article_id=article.id %}" class="positive">{% if not article.is_published %}pre{% endif %}view</a> | #} 
        <a href="{% if is_page %}{% url articles_admin_page_quickedit article_id=article.id %}{% else %}{% url articles_admin_article_quickedit article_id=article.id %}{% endif %}">quick edit</a>
    </span>
    <div class="clear"></div>
</div>
{% endif %}