{% extends "default/base.html" %}

{% block content %}
<div id="yui-main">
    <div class="yui-b">
        <div id="mn" class="yui-g">
            {% if doc_title %}<h1>{{ doc_title }}</h1>{% endif %}
            {% for article in articles %}
            {% if forloop.first and not doc_title %}
            <h1>{{ article.title }}</h1>
            {% else %}
            <h2>{{ article.title }}</h2>
            {% endif %}
            {{ article.body|truncatewords:50 }}
            <p>Published on {{ article.published|date:"d M Y" }}</p>
            {% empty %}
            <p>None</p>
            {% endfor %}
        </div>
    </div>
</div>
<div id="sb" class="yui-b">
    {% include "default/sidebar.html" %}
</div>
{% endblock %}