{% extends "default/base.html" %}

{% block content %}
<div id="yui-main">
    <div class="yui-b">
        <div id="mn" class="yui-g">
            {% if article %}
            <h1>{{ article.title }}</h1>
            {{ article.body }}
            <p>Published on {{ article.published|date:"d M Y" }}</p>
            {% if article.updated > article.published %}
            <p>Updated on {{ article.updated|date:"d M Y" }}</p>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<div id="sb" class="yui-b">
    {% include "default/sidebar.html" %}
</div>
{% endblock %}