<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    {% block head %}
    <title>{% block title %}{{ site_title }}{% endblock %}</title>
    {% block head_css %}
    <link rel="stylesheet" href="{{ static }}css/reset-fonts-grids.css" type="text/css">
    <link rel="stylesheet" href="{{ static }}css/base.css" type="text/css">
    <link rel='stylesheet' type='text/css' href='{{ static }}css/style.css'/>
    {% endblock %}
    {% block head_js %}
    {% endblock %}
    {% endblock %}
</head>
<body>
    <div id="doc2" class="yui-t5">
        <div id="hd">
            {% include 'default/header.html' %}
        </div>
        <div id="bd">
            {% block content %}
            {% endblock %}
        </div>
        <div id="ft">
            {% include 'default/footer.html' %}
        </div>
        {% block body_js %}
        {% endblock %}
    </div>
</body>
</html>