<script type="text/javascript" src="{{ MEDIA_URL }}platform/admin/js/jquery-1.3.2.min.js"></script>
<script src="{{ MEDIA_URL }}platform/admin/js/uni-form.jquery.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}platform/admin/js/jquery.hotkeys-0.7.9.min.js" type="text/javascript"></script>
<script language="Javascript" type="text/javascript" src="{{ MEDIA_URL }}platform/admin/edit_area/edit_area_full.js"></script>
<script src="{{ MEDIA_URL }}platform/admin/js/admin.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
    init_collapsible_menu();
    init_msg_close_buttons();
    init_keyboard_shortcuts();
    init_code_editor();
    add_icon_to_msg();
});
</script>