<link rel="stylesheet" href="{{ MEDIA_URL }}platform/admin/css/yui.css" media="screen" />
<link rel="stylesheet" href="{{ MEDIA_URL }}platform/admin/css/uni-form.css" media="screen" />
<link rel="stylesheet" href="{{ MEDIA_URL }}platform/admin/css/admin.css" media="screen" />
<!--[if ie 7]><link rel="stylesheet" href="{{ MEDIA_URL }}platform/admin/css/ie7.css" media="screen" /><![endif]-->
<!--[if gt ie 6]><link rel="stylesheet" href="{{ MEDIA_URL }}platform/admin/css/ie7+.css" media="screen" /><![endif]-->