<div id="menu">
    <div id="root">
        <a id="menu_dashboard" href="{% url admin %}">Dashboard</a>
    </div>
    <dl>
        <dt>
            <a id="menu_posts" href="#">Posts</a>
            <span class="toggle">▼</span>
        </dt>
        <dd>
            <ul>
                <li class="{% if menu_current == 'posts_add' %}current{% endif %}"><a href="#">Create New</a></li>
                <li class="{% if menu_current == 'posts_manage' %}current{% endif %}"><a href="#">Manage</a></li>
            </ul>
        </dd>
        <dt>
            <a id="menu_themes" href="#">Themes</a>
            <span class="toggle">▼</span>
        </dt>
        <dd>
            <ul>
                <li class="{% if menu_current == 'themes_add' %}current{% endif %}"><a href="#">Install New</a></li>
            </ul>
            <ul>
                <li class="{% if menu_current == 'themes_manage' %}current{% endif %}"><a href="#">Manage</a></li>
            </ul>
        </dd>
        <dt>
            <a id="menu_widgets" href="{% url admin_widgets_manage %}">Widgets</a>
            <span class="toggle">▼</span>
        </dt>
        <dd>
            <ul>
                <li class="{% if menu_current == 'widgets_manage' %}current{% endif %}"><a href="{% url admin_widgets_manage %}">Manage</a></li>
            </ul>
        </dd>
        <dt>
            <a id="menu_settings" href="{% url admin_settings_general %}">Settings</a>
            <span class="toggle">▼</span>
        </dt>
        <dd>
            <ul>
                <li class="{% if menu_current == 'settings_general' %}current{% endif %}"><a href="{% url admin_settings_general %}">General</a></li>
            </ul>
        </dd>
    </dl>
</div>