<div id="menu">
    <div id="root">
        <a id="menu_dashboard" href="{% url admin %}">Dashboard</a>
    </div>
    <dl>
        <dt>
            <a id="menu_posts" href="#">Posts</a>
            <span class="toggle">▼</span>
        </dt>
        <dd>
            <ul>
                <li class="{% ifequal menu_current "posts_add" %}current{% endifequal %}"><a href="#">Create</a></li>
                <li class="{% ifequal menu_current "posts_manage" %}current{% endifequal %}"><a href="#">Manage</a></li>
            </ul>
        </dd>
        <dt>
            <a id="menu_themes" href="#">Themes</a>
            <span class="toggle">▼</span>
        </dt>
        <dd>
            <ul>
                <li class="{% ifequal menu_current "themes_install" %}current{% endifequal %}"><a href="#">Install</a></li>
            </ul>
            <ul>
                <li class="{% ifequal menu_current "themes_manage" %}current{% endifequal %}"><a href="#">Manage</a></li>
            </ul>
        </dd>
        <dt>
            <a id="menu_widgets" href="#">Widgets</a>
            <span class="toggle">▼</span>
        </dt>
        <dd>
            <ul>
                <li class="{% ifequal menu_current "widgets_list" %}current{% endifequal %}"><a href="{% url admin_widgets_manage %}">Manage</a></li>
            </ul>
        </dd>
        <dt>
            <a id="menu_settings" href="{% url admin_settings_general %}">Settings</a>
            <span class="toggle">▼</span>
        </dt>
        <dd>
            <ul>
                <li class="{% ifequal menu_current "settings_general" %}current{% endifequal %}"><a href="{% url admin_settings_general %}">General</a></li>
            </ul>
        </dd>
    </dl>
</div>