{% extends "filebrowser/_.html" %}

<!-- STYLESHEETS -->
{% block head_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ settings_var.URL_FILEBROWSER_MEDIA }}css/filebrowser.css" />
{% endblock %}

<!-- JAVASCRIPTS -->
{% block body_js %}
    {{ block.super }}
    
    {% ifequal query.pop '1' %} <!-- FileBrowseField -->
    <script language="javascript" type="text/javascript" src="{{ settings_var.URL_FILEBROWSER_MEDIA }}js/FB_FileBrowseField.js"></script>
    {% endifequal %}
    
    {% ifequal query.pop '2' %} <!-- TinyMCE -->
    <script language="javascript" type="text/javascript" src="{{ settings_var.URL_TINYMCE }}tiny_mce_popup.js"></script>
    <script language="javascript" type="text/javascript" src="{{ settings_var.URL_FILEBROWSER_MEDIA }}js/FB_TinyMCE.js"></script>
    {% if query.mce_rdomain %}<script language="javascript">document.domain = "{{ query.mce_rdomain }}"</script>{% endif %}
    {% endifequal %}
    
    {% ifequal query.pop '3' %} <!-- CKeditor (former "FCKeditor") -->
    <script language="javascript" type="text/javascript" src="{{ settings_var.URL_FILEBROWSER_MEDIA }}js/FB_CKEditor.js"></script>
    {% endifequal %}
    
    {{ media }}
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
{% include "filebrowser/include/breadcrumbs.html" %}
{% endblock %}

<!-- CONTENT -->
{% block content %}
<div class="filebrowser w800">
    <div class="paneHeader">
        <span class="left">
        {% pagination %}
        </span>
        <span class="right">
            <a class="button" href="{% url fb_mkdir %}{% query_string '' 'p' %}">Create Folder&nbsp;<span class="icon folderAdd">&nbsp;</span></a>
            <a class="button" href="{% url fb_upload %}{% query_string '' 'p' %}">Upload Files&nbsp;<span class="icon upload">&nbsp;</span></a>
        </span>
        <div class="clear"></div>
    </div>
    {% if results_var.results_current %}
    <table cellspacing="0" width="800">
        {% include "filebrowser/include/tableheader.html" %}
        <tbody>
        {% include "filebrowser/include/filelisting.html" %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}
