{% extends "filebrowser/_.html" %}

<!-- LOADING -->
{% load i18n %}

<!-- STYLESHEETS -->
{% block head_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ settings_var.URL_FILEBROWSER_MEDIA }}css/filebrowser.css" />
{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
{% include "filebrowser/include/breadcrumbs.html" %}
{% endblock %}

<!-- CONTENT -->
{% block content %}
<div class="pane w600">
    <form action="{% query_string "" "filter_date,filter_type,q,p" %}" method="post" class="uniForm">
        {% fb_csrf_token %}
        <h2><span class="left">Rename File</span><button type="submit" class="primaryAction right">Rename&nbsp;<span class="icon articleAdd"></span></button><div class="clear"></div></h2>
        <fieldset class="blockLabels extralong">
            <div class="ctrlHolder{% if form.dir_name.errors %} error{% endif %}">
                {% if form.dir_name.errors %}
                <p id="{{ form.name.name }}_errors" class="errorField">{{ field.errors.0 }}</p>
                {% endif %}
                <label>{{ form.name.label }}{% if file_extension %} ({{ file_extension }} will be added){% endif %}</label>{{ form.name }}
                <p class="formHint">{{ form.name.help_text|safe }}</p>
            </div>
        </fieldset>
    </form>
    <div class="clear"></div>
</div>
{% endblock %}
