{% extends "filebrowser/_.html" %}

{% block head_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ settings_var.URL_FILEBROWSER_MEDIA }}css/filebrowser.css" />
    <link rel="stylesheet" type="text/css" href="{{ settings_var.URL_FILEBROWSER_MEDIA }}uploadify/uploadify.css" />
{% endblock %}

{% block body_js %}
    {{ block.super }}
    <script type="text/javascript" src="../../jsi18n/"></script>
    <script type="text/javascript" src="{{ settings_var.URL_FILEBROWSER_MEDIA }}uploadify/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="{{ settings_var.URL_FILEBROWSER_MEDIA }}uploadify/jquery.uploadify.v2.1.0.js"></script>
    <script type="text/javascript" src="{{ settings_var.URL_FILEBROWSER_MEDIA }}uploadify/swfobject.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#id_file').uploadify({
            'uploader'          : '{{ settings_var.URL_FILEBROWSER_MEDIA }}uploadify/uploadify.swf',
            'script'            : '{% url fb_do_upload %}',
            'scriptData'        : {'session_key': '{{session_key}}'},
            'checkScript'       : '{% url fb_check %}',
            'cancelImg'         : '{{ settings_var.URL_FILEBROWSER_MEDIA }}uploadify/cancel.png',
            'auto'              : false,
            'folder'            : '{{ query.dir }}',
            'multi'             : true,
            'fileDesc'          : '{% for extension in settings_var.EXTENSIONS.items %}{% ifnotequal extension.0 'Folder' %}{% for item in extension.1 %}*{{ item|safe }};{% endfor %}{% endifnotequal %}{% endfor %}',
            'fileExt'           : '{% for extension in settings_var.EXTENSIONS.items %}{% ifnotequal extension.0 'Folder' %}{% for item in extension.1 %}*{{ item|safe }};{% endfor %}{% endifnotequal %}{% endfor %}',
            'sizeLimit'         : {{ settings_var.MAX_UPLOAD_SIZE }},
            'scriptAccess'      : 'sameDomain',
            'queueSizeLimit'    : 50,
            'simUploadLimit'    : 1,
            'width'             : 300,
            'height'            : 30,
            'hideButton'        : false,
            'wmode'             : 'transparent',
            translations        : {
                                  browseButton: 'BROWSE',
                                  error: 'An error occured',
                                  completed: 'Completed',
                                  replaceFile: 'Do you want to replace the file',
                                  unitKb: 'KB',
                                  unitMb: 'MB'
            }
        });
        $('button:submit').click(function(){
            $('#id_file').uploadifyUpload();
            return false;
        });
    });
    </script>
{% endblock %}

{% block breadcrumbs %}
{% include "filebrowser/include/breadcrumbs.html" %}
{% endblock %}

{% block content %}
<form>
    <div class="w600 filebrowser">
        <div class="paneHeader">
            <p class="left"><strong>Media Upload</strong></p>
            <span class="right">
                <a class="button" href="javascript:$('#id_file').uploadifyClearQueue()">Clear Queue&nbsp;<span class="icon revert"></span></a>
                <button type="submit" name="_save">Upload&nbsp;<span class="icon commit"></span></button>
            </span>
            <div class="clear"></div>
        </div>
        <div class="paneBody">
            <input type="File" id="id_file" />
        </div>
    </div>
</form>
{% endblock %}
