{% extends "filebrowser/_.html" %}

<!-- LOADING -->
{% load i18n %}

<!-- STYLESHEETS -->
{% block head_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ settings_var.URL_FILEBROWSER_MEDIA }}css/filebrowser.css" />
    {% if query.pop %}
    <style type="text/css">
        #header { display: none; }
    </style>
    {% endif %}
{% endblock %}

<!-- JAVASCRIPTS -->
{% block body_js %}
    {{ block.super }}
    
    {% ifequal query.pop '1' %}
    <!-- FileBrowseField -->
    <script language="javascript" type="text/javascript" src="{{ settings_var.URL_FILEBROWSER_MEDIA }}js/FB_FileBrowseField.js"></script>
    {% endifequal %}
    
    {% ifequal query.pop '2' %}
    <!-- TinyMCE -->
    <script language="javascript" type="text/javascript" src="{{ settings_var.URL_TINYMCE }}tiny_mce_popup.js"></script>
    <script language="javascript" type="text/javascript" src="{{ settings_var.URL_FILEBROWSER_MEDIA }}js/FB_TinyMCE.js"></script>
    {% if query.mce_rdomain %}<script language="javascript">document.domain = "{{ query.mce_rdomain }}"</script>{% endif %}
    {% endifequal %}
    
    {% ifequal query.pop '3' %}
    <!-- CKeditor (former "FCKeditor") -->
    <script language="javascript" type="text/javascript" src="{{ settings_var.URL_FILEBROWSER_MEDIA }}js/FB_CKEditor.js"></script>
    {% endifequal %}
    
    {{ media }}
{% endblock %}

<!-- BREADCRBUMBS -->
{% block breadcrumbs %}
{% include "filebrowser/include/breadcrumbs.html" %}
{% endblock %}

<!-- CONTENT -->
{% block content %}
<div class="filebrowser w800">
    <div class="paneHeader">
        <strong>Image Versions</strong>
    </div>
    <table cellspacing="0" width="800">
        <thead>
            <tr>
            
            <!-- Select -->
            {% ifequal query.pop '1' %}<th></th>{% endifequal %}
            {% ifequal query.pop '2' %}<th></th>{% endifequal %}
            {% ifequal query.pop '3' %}<th></th>{% endifequal %}
            
            <!-- Filename/Dimensions  -->
            <th>Name</th>
            
            <!-- Version -->
            <th>Image Version</th>

            </tr>
        </thead>
        <tbody>
        {% for version in settings_var.ADMIN_VERSIONS %}
            {% version_object original version as image_version %}
            <tr class="{% cycle 'row1' 'row2' %}">
            
            <!-- Fileselect for FileBrowseField -->
            {% ifequal query.pop '1' %}
            <td class="fb_icon">
                {% selectable image_version.filetype query.type %}
                {% if selectable %}
                <a href="javascript://" onclick="FileSubmit('{{ image_version.url_save }}', '{{ image_version.url_thumbnail }}', '{{ image_version.filetype }}');" class="fb_selectlink" title="{% trans 'Select' %}"></a>
                {% else %}
                <img src="{{ settings_var.URL_FILEBROWSER_MEDIA }}img/filebrowser_icon_select_disabled.gif" width="23" height="17" />
                {% endif %}
            </td>
            {% endifequal %}
            
            <!-- Fileselect for RTE/TinyMCE -->
            {% ifequal query.pop '2' %}
            <td class="fb_icon">
                {% selectable image_version.filetype query.type %}
                {% if selectable %}
                <a href="javascript:FileBrowserDialogue.fileSubmit('{{ image_version.url_save|escapejs }}');" class="fb_selectlink" title="{% trans 'Select File' %}"></a>
                {% else %}
                <img src="{{ settings_var.URL_FILEBROWSER_MEDIA }}img/filebrowser_icon_select_disabled.gif" width="23" height="17" />
                {% endif %}
            </td>
            {% endifequal %}
            
            <!-- Fileselect for CKeditor (former "FCKeditor") -->
            {% ifequal query.pop '3' %}
            <td class="fb_icon">
                {% selectable image_version.filetype query.type %}
                {% if selectable %}
                <a href="#" onclick="OpenFile(ProtectPath('{{ image_version.url_save|escapejs }}'));return false;" class="fb_selectlink" title="{% trans 'Select File' %}"></a>
                {% else %}
                <img src="{{ settings_var.URL_FILEBROWSER_MEDIA }}img/filebrowser_icon_select_disabled.gif" width="23" height="17" />
                {% endif %}
            </td>
            {% endifequal %}
            
            <!-- Filename / Dimensions  -->
            <td>
                {% version_setting version %}
                <strong>{{ version_setting.verbose_name }}</strong><br />
                {% if version_setting.width %}{% trans "Width" %}: {{ version_setting.width }}px<br />{% endif %}
                {% if version_setting.height %}{% trans "Height" %}: {{ version_setting.height }}px{% endif %}
            </td>
            
            <!-- Version -->
            <td><img src="{{ image_version.url_full }}" /></td>
            
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
