{% extends 'admin/main.html' %}

{% block content %}
<div class="w400 left groups_and_widgets">
    <h2>Your Groups &amp; Widgets</h2>
    <div class="paneHeader">
        <strong>Ungrouped</strong>
    </div>
    <div class="paneBody">
        {% if ungrouped_widgets %}
        <ul class="widget_list">
            {% for widget in ungrouped_widgets %}
            {% include "admin/widgets/includes/group_list_item.html" %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <form action="{% url admin_widgets_groups_rename %}" method="post">
        {% csrf_token %}
        {% for group in groups %}
        <div class="paneHeader">
            <strong><input title="click to edit the group name. press enter to save your changes" class="merge" type="text" id="id_{{ group.id }}-name" name="{{ group.id }}-name" value="{{ group.name }}" /><span class="right"><a class="icon groupDelete" title="delete group" href="{% url admin_widgets_group_delete group_id=group.id %}"></a></span></strong>
        </div>
        <div class="paneBody">
            {% if group.widgets %}
            <ul class="widget_list">
                {% for widget in group.widgets %}
                {% include "admin/widgets/includes/group_list_item.html" %}   
                {% endfor %}
            </ul>
            {% endif %}    
        </div>
        <input type="hidden" id="id_{{ group.id }}-id" name="{{ group.id }}-id" value="{{ group.id }}" />
        {% endfor %}
        <span class="display-none"><input type="submit" value="Save Updated Group Names" /></span>
    </form>
</div>
<div class="w400 left">
    <h2>Create a Widget</h2>
    <p>Pick a Blueprint and click 'Create Widget', or view the <a href="{% url admin_widgets_blueprints %}">Blueprints</a> page for more details.</p>
    <form action="{% url admin_widgets_widget_create_httppost %}" method="post" class="uniForm">
        {% csrf_token %}
        <fieldset class="blockLabels">
            <div class="ctrlHolder">
                {{ create_widget_form.blueprint_name.label_tag }}{{ create_widget_form.blueprint_name }}<p class="formHint">{{ create_widget_form.blueprint_name.help_text }}</p>
            </div>
        </fieldset> 
        <div class="buttonHolder">
            <button type="submit" class="primaryAction">Create Widget&nbsp;<span class="icon widgetAdd"></span></button>
        </div>
    </form>
    <h2>Create a Group</h2>
    <form action="{% url admin_widgets_group_create %}" method="post" class="uniForm">
        {% csrf_token %}
        <fieldset class="blockLabels">
            <div class="ctrlHolder">
                {{ create_group_form.name.label_tag }}{{ create_group_form.name }}<p class="formHint">{{ create_group_form.name.help_text }}</p>
            </div>
        </fieldset> 
        <div class="buttonHolder">
            <button type="submit" class="primaryAction">Create Group&nbsp;<span class="icon groupAdd"></span></button>
        </div>
    </form>
</div>
{% endblock %}