{% extends 'installation/_.html' %}

{% block main %}
<div class="installation">
    <h1>Column Installation</h1>
    {% if db_error %}
    <div class="paneHeader">
       <strong class="error">Database Connection Error</strong>
    </div>
    <div class="paneBody">
        <blockquote><code class="big">{{ db_error }}</code></blockquote>
        <p>There was a problem connecting to your database. The most likely cause of this is that your database settings are either incomplete or incorrect.</p>
        <p>Please check your database settings (stored in <code>platform/database.py</code>),restart your server, and then refresh this page.</p>
    </div>
    {% else %}
    <p>Please complete the fields below, and click the <strong>Complete Installation</strong> button.</p>
    <form action='.' method='post' class="uniForm">
        {% csrf_token %}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="errorField">{{ error }}</p>
        {% endfor %}
        {% endif %}
        <div class="paneHeader">
           <strong>Blog Details</strong>
        </div>
        <div class="paneBody">
            <fieldset class="blockLabels long">
                <div class="ctrlHolder{% if form.blog_title.errors %} error{% endif %}">
                    {% if form.blog_title.errors %}
                    <p id="{{ form.blog_title.name }}_errors" class="errorField">{{ form.blog_title.errors.0 }}</p>
                    {% endif %}
                    {{ form.blog_title.label_tag }}{{ form.blog_title }}<p class="formHint">{{ form.blog_title.help_text }}</p>
                </div>
            </fieldset>
        </div>
        <div class="paneHeader">
           <strong>Admin User Details</strong>
        </div>
        <div class="paneBody">
            <fieldset class="blockLabels long">
                <div class="ctrlHolder{% if form.username.errors %} error{% endif %}">
                    {% if form.username.errors %}
                    <p id="{{ form.username.name }}_errors" class="errorField">{{ form.username.errors.0 }}</p>
                    {% endif %}
                    {{ form.username.label_tag }}{{ form.username }}<p class="formHint">{{ form.username.help_text }}</p>
                </div>
                <div class="ctrlHolder{% if form.password.errors %} error{% endif %}">
                    {% if form.password.errors %}
                    <p id="{{ form.password.name}}_errors" class="errorField">{{ form.password.errors.0 }}</p>
                    {% endif %}
                    {{ form.password.label_tag }}{{ form.password }}<p class="formHint">{{ form.password.help_text }}</p>
                </div>
                <div class="ctrlHolder{% if form.password_confirm.errors %} error{% endif %}">
                    {% if form.password_confirm.errors %}
                    <p id="{{ form.password_confirm.name}}_errors" class="errorField">{{ form.password_confirm.errors.0 }}</p>
                    {% endif %}
                    {{ form.password_confirm.label_tag }}{{ form.password_confirm }}<p class="formHint">{{ form.password_confirm.help_text }}</p>
                </div>
                <div class="ctrlHolder{% if form.email.errors %} error{% endif %}">
                    {% if form.email.errors %}
                    <p id="{{ form.email.name}}_errors" class="errorField">{{ form.email.errors.0 }}</p>
                    {% endif %}
                    {{ form.email.label_tag }}{{ form.email }}<p class="formHint">{{ form.email.help_text }}</p>
                </div>
            </fieldset>
        </div>
        <fieldset class="blockLabels long">
            <div class="buttonHolder">
                <button type="submit" class="primaryAction">Complete Installation&nbsp;<span class="icon commit"></span></button>
            </div>
        </fieldset>
    </form>
    {% endif %}
</div>
{% endblock %}