{% extends 'admin/_.html' %}

{% block header %}
<div id="header">
    <a class="small" href="{% url public_homepage %}">&larr; Go to {{ site_title }}</a>
</div>
{% endblock %}

{% block main %}
<div class="login">
    {% if user.is_authenticated %}
    <p>You're logged in as {{ user.username }}. Please <a href="{% url logout %}">log out</a> or go to the <a href="{% url admin %}">dashboard</a>.</p>
    {% else %}
    {% if form.errors %}
    <p class="msg error">Sorry, that's not a valid username or
    password</p>
    {% endif %}
    <div class="loginForm">
        <form action='.' method='post' class="uniForm">
            {% csrf_token %}
            <fieldset class="blockLabels">
                <div class="ctrlHolder">
                    <label for="username">Username</label>
                    <input type="text" name="username" value="" id="username">
                </div>
                <div class="ctrlHolder">
                    <label for="password">Password</label>
                    <input type="password" name="password" value=""
                    id="password">
                </div>  
                <input type="hidden" name="next" value="{{ next|escape }}"/>
            </fieldset>
            <div class="buttonHolder">
                <button type="submit" class="primaryAction">Login&nbsp;<span class="icon commit"></span></button>
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block footer %}
{# EMPTY #}
{% endblock %}