<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% block head %}
<title>{% block title %}{{ site_title }} Admin{% endblock %}</title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />    
<meta name="keywords" content="{% block keywords %}{% endblock %}" />
<meta name="description" content="{% block description %}{% endblock %}" />
{% block head_css %}
{% include "admin/includes/head_css.html" %}
{% endblock %}
{% block head_js %}{% endblock %}
{% endblock %}
</head>
<body>
{% block body %}
{% block header %}
{% include "admin/includes/header.html" %}
{% endblock %}
{% block main %}
{# MAIN #}
{% endblock %}
{% block footer %}
{% include "admin/includes/footer.html" %}
{% endblock %}
{% block body_js %}
{% include "admin/includes/body_js.html" %}
<script type="text/javascript">
$(document).ready(function() {
    init_collapsible_menu();
    init_keyboard_shortcuts();
    init_msg();
    init_tinymce();
    init_code_editor();
    {% block jquery_document_ready %}
    {% endblock %}
});
</script>
{% endblock %}
{% endblock %}
</body>
</html>
