{% extends 'admin/_.html' %}

{% block header %}
<div id="header">
    <a class="small" href="{% url core_homepage %}">← Back to {{ blog_title }}</a>
</div>
{% endblock %}

{% block content %}
<div class="login">
    {% if user.is_authenticated %}
    <p>You're logged in as {{ user.username }}. <a href="{% url logout %}">Log Out</a>.</p>
    {% else %}
    {% if form.errors %}
    <p class="msg error">Sorry, that's not a valid username or
    password</p>
    {% endif %}
    <div class="loginForm">
        <form action='.' method='post' class="uniForm">
            <fieldset>
                <div class="ctrlHolder">
                    <label for="username">Username</label>
                    <input type="text" name="username" value="" id="username">
                </div>
                <div class="ctrlHolder">
                    <label for="password">Password</label>
                    <input type="password" name="password" value=""
                    id="password">
                </div>
                <div class="buttonHolder">
                    <button type="submit" class="primaryAction">Login</button>
                </div>    
                <input type="hidden" name="next" value="{{ next|escape }}"/>
            </fieldset>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}