{% extends 'admin/_.html' %}

{% block main %}
<div id="main">
    <div class="layout">
        <div class="main">
            {% include "admin/includes/msg.html" %}
            {% block h1 %}
            <h1>{{ h1 }}</h1>
            {% endblock %}
            {% block content %}
            {# CONTENT #}
            {% endblock %}
        </div>
        <div class="sidebar">
            {% block menu %}
            {% include "admin/includes/menu.html" %}
            {% endblock %}
        </div>
    </div>    
    <div class="clear"></div>
</div>
{% endblock %}