/* COMMON ELEMENTS */
.serif{font-family:"Georgia","Times New Roman",serif;}
.monospaced {font-family:monospace;}
.left{float:left;}
.right{float:right;}
.center{text-align:center;}
.justify{text-align:justify;}
.clear{clear:both;}
.big{font-size:22px;}
.small{font-size:11px;}
.nowrap{white-space:nowrap;}
.btn{padding:2px;border:1px solid #777;}
.msg{font-size:11px;border:1px solid #E5E5E5;padding:6px 8px;background-color:#fefddc;}
.msg.error {background-color:#FBB;}
.positive{color:green;}
.neutral{color:blue;}
.negative{color:red;}
.disabled{color:#BBB;}
.display-none{display:none;}

/* GLOBAL */
html {
    background-color: #F5F5F5;
    color: #222;
    min-height: 100%;
    min-width: 800px;
}
body {
    font-family :"Lucida Grande", Tahoma, Arial, "Bitstream Vera Sans", sans-serif;
}

h1 {
    border-bottom: 1px solid #AAA;
    margin-top: 0;
    font-size: 22px;
    line-height: 22px;
}

a {
    color: #6e8d61;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    margin-bottom: 4px;
}

li.milked {
    background-image: url('../img/tiles/milked.png');
}

button,
a.button {
    border: 1px solid #BBB;
    color: #333;
    background-color: #DDD;
    background-image: url('../img/tiles/button_bg.png');
    background-repeat: repeat-x;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -webkit-box-shadow: #E5E5E5 0px 4px 8px;
    padding: 0 8px;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    height: 24px;
    cursor: pointer;
    white-space: nowrap;
}

a.button {
    padding: 4px 8px 3px;
}

button:hover,
a.button:hover {
    background-image: url('../img/tiles/button_bg_hover.png');
    text-decoration: none;
}

hr {
    border: 0 none;
    border-bottom: 1px solid #DDD;
}

/* FORMS */
fieldset.long input[type=text],
fieldset.long input[type=password] {
    width: 240px;
    min-width: 240px;
}

fieldset.extralong input[type=text],
fieldset.extralong input[type=password] {
    width: 294px;
    min-width: 294px;
}
    
input.merge {
    border: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    font: inherit;
    color: inherit;
}

input.merge.disabled {
    color: #BBB;
}

/* PRESET CONTAINER WIDTHS */
.w200 {
    width: 200px;
    margin-right: 20px;
}
.w400 {
    width: 400px;
    margin-right: 20px;
}
.w600 {
    width: 600px;
    margin-right: 20px;
}
.w800 {
    width: 800px;
    margin-right: 20px;
}

/* ICONS */
.icon, .iconSpacer {
    width: 20px;
    line-height: 16px;
    padding: 2px 10px 2px 10px;
    background: no-repeat 2px 2px;
}

.icon:hover {
    background-color: #F5F5F5;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.iconSpacer {
    padding: 2px 8px 2px 8px;
}


button .icon {
    padding: 3px 10px 0 10px;
}

button .icon:hover,
a.button .icon:hover,
.msg .icon:hover {
    background-color: transparent;
    cursor: pointer;
}

a.icon {
    padding: 2px 8px 2px 8px;
}

a.icon:hover {
    text-decoration: none;
}

.iconText {
    font-size: 11px;
    color: #444;
    padding: 0 2px;
    line-height: 14px;
}

.icon.commit {
    background-image: url('../img/icons/16/tick.png');
}

.icon.revert {
    background-image: url('../img/icons/16/cross.png');
}

.icon.up {
    background-image: url('../img/icons/16/arrow_up.png');
}

.icon.down {
    background-image: url('../img/icons/16/arrow_down.png');
}

.icon.visible,
.icon.hidden:hover {
    background-image: url('../img/icons/16/eye.png');
}

.icon.hidden {
    background-image: url('../img/icons/16/eye_faded.png');
}

.icon.scrapAdd {
    background-image: url('../img/icons/16/note_add.png');
}

.icon.scrapEdit {
    background-image: url('../img/icons/16/note_edit.png');
}

.icon.scrapDelete {
    background-image: url('../img/icons/16/note_delete.png');
}

.icon.pileAdd {
    background-image: url('../img/icons/16/application_add.png');
}

.icon.pileDelete {
    background-image: url('../img/icons/16/application_delete.png');
}

.icon.pileMove {
    background-image: url('../img/icons/16/application_cascade.png');
}

.icon.articleAdd {
    background-image: url('../img/icons/16/newspaper_add.png');
}

.icon.articleEdit {
    background-image: url('../img/icons/16/newspaper_edit.png');
}

.icon.articleDelete {
    background-image: url('../img/icons/16/newspaper_delete.png');
}

/* PANES */

.pane {
    border: 1px solid #BBB;
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: #E5E5E5 0px 4px 18px;
    padding: 4px 8px;
    margin-bottom: 12px;
}

.paneHeader {
    border: 1px solid #BBB;
    background-color: #DDD;
    background-image: url('../img/tiles/button_bg.png');
    background-repeat: repeat-x;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-box-shadow: #E5E5E5 0px 4px;
    padding: 4px 5px;
}

    .paneHeader h1,
    .paneHeader h2,
    .paneHeader h3, 
    .paneHeader h4 {
        margin: 0;
    }

.paneBody {
    border: solid #BBB;
    border-width: 0 1px 1px 1px;
    background-color: #FFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-box-shadow: #E5E5E5 0px 4px 18px;
    padding: 4px 8px;
    margin-bottom: 12px;
}

.pane.pane_list_container {
    padding: 4px 0;
}

.paneBody.pane_list_container {
    padding: 0 0 4px 0;
}

/* PAGE SECTIONS */
#header {
    padding: 2px 15px 2px 18px;
    background-color: #435d37;
    color: #FFF;
    margin-bottom: 15px;
    -webkit-box-shadow: #777 0px 0px 15px;
}

    #header a {
        color: #DDD;
        text-decoration: none;
    }
    
    #header a:hover {
        color: #FFF;
    }
    
    #header a.root {
        width: 32px;
        height: 32px;
        padding: 0 28px 18px 0;
        background: url("../img/logos/header_alt.png") no-repeat 0 2px;
        margin: 0 14px 0 0;
    }
    
    #header #sitetitle .title {
        color: #FFF;
        line-height: 34px;
    }
        
        #header #sitetitle a:hover .title {
            text-decoration: underline;
        }
    
    #header #userinfo {
        line-height: 36px;
        font-size: 12px;
    }
    
        #header #userinfo a:hover {
            text-decoration: underline;
        }

/* PAGE LAYOUT */
#main {
    margin: 0 15px 0 0;
    min-width: 320px;
    padding-left: 160px;
}

.main {
    float: left;
    position: relative;
    width: 100%;
}

.sidebar {
    width: 160px;
    float: left;
    position: relative;
    right: 160px;
    margin-left: -100%;
}

* html .sidebar {
    left: 0;
}

/* MENU */

#menu {
    color: #FFF;
    margin: 0 15px 15px 15px;
}

    #menu ul,
    #menu li,
    #menu dl,
    #menu dt,
    #menu dd {
        margin: 0;
        padding: 0;
        list-style-type:none;
    }

    #menu #root,
    #menu dt {
        font-size: 12px;
        /*font-family :"Georgia", "Times New Roman", serif;*/
        /*font-weight: bold;*/
        background-color: #444;
        padding: 3px 0;
        margin-top: 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -webkit-box-shadow: #E5E5E5 0px 4px 8px;
    }
    
    #menu #root {
        margin: 0;
    }
    
    #menu #root:hover,
    #menu dt:hover {
        /*background-color: #7C7C7C;*/
    }

    #menu #root,
    #menu dt.closed {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
    }
    
        #menu dt span.toggle {
            display: none;
            line-height: 26px;
            padding: 0;
            width: 23px;
            margin-top: -3px;
            border-top-right-radius: 5px;
            -moz-border-radius-topright: 5px;
            -webkit-border-top-right-radius: 5px;
            border-left: 1px solid #606060;
            cursor: pointer;
            /*background: url("../img/icon_menu_show.png") no-repeat scroll 4px 7px #555;*/
            background: url("../img/icons/16/toggle_minus.png") no-repeat scroll 3px 5px #555;
            position: absolute;
            right: 15px;
        }
        
        #menu dt.closed span.toggle {
            visibility: hidden;
            background-image: url("../img/icons/16/toggle_plus.png");
        }
        
        #menu dt.closed:hover span.toggle {
            visibility: visible;
            border-bottom-right-radius: 5px;
            -moz-border-radius-bottomright: 5px;
            -webkit-border-bottom-right-radius: 5px;
        }
        
        #menu dt.closed span.toggle:hover {
        }

    #menu dd {
        font-size: 11px;
        background-color: #FFF;
        border: solid #BBB;
        border-width: 0 1px 1px 1px;
        -webkit-box-shadow: #E5E5E5 0px 4px 8px;
    }

    #menu a {
        line-height: 20px;
        text-decoration: none;
        display: inline-block;
    }

    #menu a:hover {
        text-decoration: none;
    }

    #menu #root a,
    #menu dt a {
        padding-left: 43px;
        color: #F5F5F5;
        width: 87px;
    }
    
    #menu #root a#menu_hub,
    #menu dt a {
        background: no-repeat 6px 0;
    }
    
    #menu #root a#menu_hub {
        background-image: url("../img/icons/32/home_bw.png");
    }
    
    #menu dt a#menu_content {
        background-image: url("../img/icons/32/content_bw.png");
    }
    
    #menu dt a#menu_design {
        background-image: url("../img/icons/32/design_bw.png");
    }
    
    #menu dt a#menu_settings {
        background-image: url("../img/icons/32/settings_bw.png");
    }

    #menu dd a {
        padding-left: 34px;
        color: #444;
    	width: 95px;
    	line-height: 24px;
    }
    
    #menu dd a#menu_content_articles,
    #menu dd a#menu_content_pages,
    #menu dd a#menu_content_comments,
    #menu dd a#menu_content_media,
    #menu dd a#menu_design_scraps,
    #menu dd a#menu_design_blueprints,
    #menu dd a#menu_design_themes,
    #menu dd a#menu_settings_general,
    #menu dd a#menu_settings_scraps {
        background: no-repeat 10px 4px;
    }
    
    #menu dd a#menu_content_articles {
        background-image: url("../img/icons/16/newspaper.png");
    }
    
    #menu dd a#menu_content_pages {
        background-image: url("../img/icons/16/page_white.png");
    }
    
    #menu dd a#menu_content_comments {
        background-image: url("../img/icons/16/comments.png");
    }
    
    #menu dd a#menu_content_media {
        background-image: url("../img/icons/16/film.png");
    }
     
    #menu dd a#menu_design_scraps {
        background-image: url("../img/icons/16/note.png");
    }
    
    #menu dd a#menu_design_blueprints {
        background-image: url("../img/icons/16/blueprint.png");
    }
    
    #menu dd a#menu_design_themes {
        background-image: url("../img/icons/16/layout.png");
    }
    
    #menu dd a#menu_settings_general {
        background-image: url("../img/icons/16/cog.png");
    }
    
    #menu dd a#menu_settings_scraps {
        background-image: url("../img/icons/16/note.png");
    }
    
    #menu dd ul li:hover {
        background-color: #cbdabf;
    }
    
    #menu dd ul li.current {
        background: #cbdabf url('../img/icons/icon_menu_current.png') no-repeat 0 5px;
    }
    
        #menu dd ul li:hover a,
        #menu dd ul li.current a {
            color: #000;
        }
        
        #menu dd ul li.current a {
            font-weight: bold;
        }
        
#footer {
    border-top: 1px solid #AAA;
    color: #AAA;
    margin: 0 15px;
    padding-top: 5px;
    font-size: 10px;
}
    
/* INSTALLATION-SPECIFIC */
.installation {
    margin: 20px auto 0;
    padding-top: 80px;
    width: 520px;
    background: url("../img/logos/280x60.png") no-repeat 120px 0;
}
/* LOGIN-SPECIFIC */
.login {
    margin: 95px auto 0;
    padding-top: 80px;
    width: 296px;
    background: url("../img/logos/280x60.png") no-repeat 8px 0;
}

.loginForm {
    -webkit-box-shadow: #E5E5E5 0px 4px 18px;
    background: white;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 8px;
}
    
    .loginForm .ctrlHolder {
        border: 0 none;
    }

        .loginForm .ctrlHolder label {
            color: #777;
        }
        
        .loginForm .ctrlHolder input {
            font-size: 24px;
            padding: 3px 2px;
            width: 256px;
        }
        
    .loginForm .buttonHolder {
        padding: 4px 4px 2px 0;
    }

/* PANE LISTS */

ul.pane_list{
    margin: 0;
    position: relative;
}

ul.pane_list li.pane_list_item {
    list-style: none outside none;
    clear: both;
    display: inline-block;
    width: 392px;
    padding: 4px 6px 4px 6px;
    margin: 0;
    cursor: default;
}

ul.pane_list li.pane_list_item:hover,
ul.pane_list li.pane_list_item.current {
    background-color: #CBDABF;
}

/* SCRAPS APP PANE LISTS */

.piles_and_scraps .paneHeader {
    overflow: auto;
}

.piles_and_scraps .paneHeader form {
    padding:  0 0 0 3px;
}

ul.scrap_list li.pane_list_item {
    padding: 4px 1px 4px 5px;
}

ul.blueprint_list li.pane_list_item {
    width: 586px;
}

ul.blueprint_list li.pane_list_item span.create {
    margin: 1px 0 0 0
}

ul.blueprint_list li.pane_list_item p.description {
    margin: 4px 0 0 12px;
}

ul.scrap_list li.pane_list_item .scrap_name {
    margin-left: 4px;
}

ul.scrap_list li.pane_list_item .scrap_name span {
    width: 200px;
}

ul.pane_list li.pane_list_item .pile_list {
    position: relative;
}

ul.scrap_list li.pane_list_item .pile_list ul {
    margin: 0;
    max-height: 0;
    width: 99px;
    min-width: 99px;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    background-color: #FFF;
}

ul.scrap_list li.pane_list_item .pile_list:hover ul {
    overflow: visible;
    border: 1px solid #E5E5E5;
    max-height: 1000px;
    z-index: 100;
    margin-top: 18px;
    padding: 3px 0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: #E5E5E5 0px 3px 18px;
}

ul.scrap_list li.pane_list_item .pile_list ul li {
    list-style: none outside none;
    margin: 0;
}

ul.scrap_list li.pane_list_item .pile_list ul li a {
    width: 85px;
    color: #222;
    padding: 4px 7px;
    display: inline-block;
}

ul.scrap_list li.pane_list_item .pile_list ul li a:hover {
    text-decoration: none;
    background-color: #CBDABF;
}

ul.scrap_list li.pane_list_item .pile_list ul li.unpiled a {
    color: #BBB;
}

ul.scrap_list li.pane_list_item .pile_list ul li.list_bottom {
    height: 0;
    padding: 0;
}

/* ARTICLES APP PANE LIST */

ul.article_list li.pane_list_item {
    width: 586px;
    border-bottom: 1px solid #BBB;
}

ul.article_list li.pane_list_item ul {
    margin: 0;
}

ul.article_list li.pane_list_item ul li {
    list-style: none;
}

.article_list_item_top {
    margin: 0 0 6px 0;
}

.articleEditForm {
    padding: 4px 8px 4px;
    margin: 0 0 3px 0;
}

.article_list_item_bottom {
    visibility: hidden;
}

ul.article_list li.pane_list_item:hover .article_list_item_bottom {
    visibility: visible;
}
