<div class="ctrlHolder{% if field.errors %} error{% endif %}">
    {% if field.errors %}
    <p id="{{ field.name }}_errors" class="errorField">{{ field.errors.0 }}</p>
    {% endif %}
    {% if field|field_type:"checkboxinput" %}
    <label>{{ field }}<span>{% if field.required %}<em>*</em>{% endif %}&nbsp;{{ field.label }}</span><span class="formHint">{{ field.help_text|safe }}</span></label>
    {% else %}
    {{ field.label_tag }}{{ field }}
    <p class="formHint">{{ field.help_text|safe }}</p>
    {% endif %}
</div>