{% extends 'installation/_.html' %}

{% block main %}
<div class="installation">
    <h1>Byteprint Installation</h1>
    {% if db_error %}
    <div class="paneHeader">
       <strong>Database Connection Error</strong>
    </div>
    <div class="paneBody">
        <blockquote><code class="big">{{ db_error }}</code></blockquote>
        <p>There was a problem connecting to your database. The most likely cause of this is that your database settings are either incomplete or incorrect.</p>
        <p>Please check your database settings (stored in <code>platform/database.py</code>),restart your server, and then refresh this page.</p>
    </div>
    {% else %}
    <p>Please complete the fields below, and click the <strong>Complete Installation</strong> button.</p>
    <form action='.' method='post' class="uniForm">
        {% csrf_token %}
        {% include "admin/includes/forms/non_field_errors.html" %}
        <div class="paneHeader">
           <strong>Site Details</strong>
        </div>
        <div class="paneBody">
            <fieldset class="blockLabels long">
                {% with form.site_title as field %}
                {% include "admin/includes/forms/field.html" %}
                {% endwith %}
            </fieldset>
        </div>
        <div class="paneHeader">
           <strong>Admin User Details</strong>
        </div>
        <div class="paneBody">
            <fieldset class="blockLabels long">                
                {% with form.username as field %}
                {% include "admin/includes/forms/field.html" %}
                {% endwith %}
                {% with form.password as field %}
                {% include "admin/includes/forms/field.html" %}
                {% endwith %}
                {% with form.password_confirm as field %}
                {% include "admin/includes/forms/field.html" %}
                {% endwith %}
                {% with form.email as field %}
                {% include "admin/includes/forms/field.html" %}
                {% endwith %}
            </fieldset>
        </div>
        <fieldset class="blockLabels long">
            <div class="buttonHolder">
                <button type="submit" class="primaryAction">Complete Installation&nbsp;<span class="icon commit"></span></button>
            </div>
        </fieldset>
    </form>
    {% endif %}
</div>
{% endblock %}