{% extends 'admin/main.html' %}

{% block content %}
<div class="w600">
    {% include "articles/admin/includes/create_article.html" %}
</div>
<div class="w600">
    <div class="paneHeader">
        <strong>{% if is_page %}Pages{% else %}Articles{% endif %}</strong>
    </div>
    <div class="paneBody pane_list_container">
        {% if articles %}
        <ul class="pane_list article_list">
            {% for article in articles %}
            <li class="pane_list_item {% if article == quick_edit_article %}current{% endif %}{% if not article.is_published %} milked{% endif %}">
                {% include "articles/admin/includes/articles_list_item.html" %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block jquery_document_ready %}

{% endblock %}